---
Checks: |
  *,
  -abseil,
  -google*,
  -fuchsia*,
  -llvm-header-guard,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: '*'
FormatStyle: file
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
...
